-----BEGIN PRIVATE KEY-----
MIIBVgIBADANBgkqhkiG9w0BAQEFAASCAUAwggE8AgEAAkEAwKASzlvqMKlO8XAa
HNtXhHeNmAGanuj1Lb4/85iW1GZnx4ilj3C5bGcEzc91cLyiYJcrxw0pmgypSRP4
s+XvDQIDAQABAkEAhflP2zNWqU242HhN0TBFqJ62XrkO3+PLU2t1c2n3zfXOaxAv
EcTyOxNILnkUL06R0ICJp+xnt1U6Ww8SOkUBQQIhAOrJH4jXEg3lmOD5OMBk+JAM
zBS0V5TpNC9g5WGviRK1AiEA0ge67dMjA6JcfmCEIt0uM4NqywEEjB8zHO8U+9rc
6fkCIF/e+pJ9B/FGxLNw8PyW/myL3TXDIlQ7GcUS8vd9nyJVAiEAiCnqznSrppeE
T4pTICc05MC2Y5XtVMqFYKS/feiOgEECIQDHpYx0LImnvf3Z7sOX88UDMBfAPWw/
uMdd+8UR5xZaiw==
-----END PRIVATE KEY-----
