-----BEGIN CERTIFICATE-----
MIIBzTCCAXegAwIBAgIJANGyJ3pPuWBRMA0GCSqGSIb3DQEBBQUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTQwMTI4MTY0MjM3WhcNMTUwMTI4MTY0MjM3WjBCMQsw
CQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAMCgEs5b6jCp
TvFwGhzbV4R3jZgBmp7o9S2+P/OYltRmZ8eIpY9wuWxnBM3PdXC8omCXK8cNKZoM
qUkT+LPl7w0CAwEAAaNQME4wHQYDVR0OBBYEFKUqZRrBzIip55ZT++oRJV3Fostw
MB8GA1UdIwQYMBaAFKUqZRrBzIip55ZT++oRJV3FostwMAwGA1UdEwQFMAMBAf8w
DQYJKoZIhvcNAQEFBQADQQAjrstVK1bX53p07WerKp+VWOmb5atWOOxGDtbeMnQS
8VagaE9Y8lVp5SzjrvHjqgK6RdLvdlCuXVZdpLemf2Aj
-----END CERTIFICATE-----
