[database]
host: localhost
port: 3306
username: training
password: training
database: training

[server]
address: 127.0.0.1
port: 8888
certfile: /opt/training/etc/training.crt
keyfile: /opt/training/etc/training.key
api_key: training
instances: 2
no_keep_alive: False

[smtp]
host: smtp.gmail.com
port: 587
username: noreply@gmail.com
password: somepassword
mime: plain
