Welcome to One Education training course!

At the end of the course, we will be sending you a XO certificate, but
before of that, you need to confirm to us that his is really you!

Launch your Training activity, and make sure you see this code at the
left-bottom of the screen: "{0}".

Once you have confirmed that you see this code, please click on this
link: https://localhost:8888/training/confirm/{1}

Thanks for your time,
We are very pleased to have you onboard!
