Your One Academy account has been verified with One Education!

We are now able to keep track of your training progress, and will be able to send you a certificate when you have completed training!

Thanks!
